# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Project Specific
references/assetsPool

report/architecture/architecture.pdf
report/architecture/architecture.aux
report/architecture/architecture.synctex.gz
report/requirements.acn
report/requirements.glo
report/requirements.nlo
